
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CodeerorIndex</title>
    <link href="~/Content/Home/CodeerorIndex.css" rel="stylesheet" />
</head>
<body>
    <div class="container bg-dark">
        <div class="row">
            <div class="col-3">
                
            </div>
        </div>
    </div>
</body>
</html>
